<div class="container">
    <span>Search: </span><input type="text" [(ngModel)]="titre" placeholder="Rechercher une catégorie">
    <button class="btn btn-outline-primary" routerLink="/addCategorie">Add New Category</button>
    <div class="row">
      <div class="col-md-4" style="margin-bottom: 20px" *ngFor="let cat of categories">
        
        <app-card [title]="cat.title" [image]="cat.image" [description]="cat.description" [id]="cat.id" [btnText]="'Voir Produits'" [isAvailable]="cat.available"    (sender)="addToShortList($event)"></app-card>
        <button class="btn btn-primary" (click)="deleteCategorie(cat.id)">Delete</button>
    <button class="btn btn-outline-primary" routerLink="/addCategorie" [queryParams]="{'id':cat.id}">Update Category</button>

      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  